@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "Poppins", serif;
  --ff-secondary: "Recursive", sans-serif;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #f6f6f6;
  --clr-light-gray: rgb(210, 210, 218);
  --clr-dark-gray: rgb(27, 27, 29);
  --clr-dark-blue: #203239;
  --clr-dark-blue-transparent: #203239ce;
  --clr-light-green: rgb(68, 205, 3);

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.2rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);

  --transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
  color: var(--clr-light);
  min-height: 100vh;
  width: auto;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}
