.admin-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  text-align: center !important;
  background-size: cover !important;
  position: relative !important;
  background-color: white !important;
  overflow: hidden !important;
  height: 100vh !important;
  width: 100% !important;
  margin: -0.5em -1em -1em 0em !important;
  padding: 0 !important;
}

.admin-container div video {
  text-align: center !important;
}

.vid-btn {
  width: 10% !important;
  height: 2em !important;
  text-align: center !important;
  justify-content: center !important;
  margin-top: 1.3em !important;
}

.vid-container {
  width: 48% !important;
  height: 4em !important;
  margin: 0 auto !important;
}

.innerVid video {
  width: 10% !important;
}

.input-vid-search {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  text-align: center !important;
  width: 100% !important;
  margin-top: -15em !important;
  margin-bottom: 2em !important;
  padding: 0, 2em, 0em, 2em !important;
}

.input-vid-search label {
  margin-top: 1.5em !important;
}

.input-vid-search label button {
  margin-top: 1.2em !important;
}

.select {
  width: 15em !important;
  margin-left: 1em !important;
  margin-top: 1.2em !important;
}
#sidebar {
  /*background-color: rgba(97, 98, 71, .8);*/
  background-color: rgba(0, 0, 0, 0.9) !important;
  width: 2em !important;
  height: 37em !important;
  z-index: 9 !important;
  position: fixed !important;
  margin-top: 4em !important;
  box-sizing: border-box !important;
  margin-left: 0em !important;
  transition: width 1s !important;
  visibility: visible !important;
}

#arrow {
  color: white !important;
  font-size: 2em !important;
  margin-top: 5em !important;
  margin-left: 0.2em !important;
  position: fixed !important;
}

#sidebar:hover {
  width: 20em !important;
  cursor: pointer !important;
}

#sidebar:hover #arrow {
  visibility: hidden !important;
}

#sidebar:hover #links li button {
  visibility: visible !important;
}
#overlay {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ) !important; /* Black background with opacity */
  z-index: 2 !important;
}

#sidebar:hover #overlay {
  width: 31em;
  cursor: pointer !important;
}

#links {
  margin-left: 0em !important;
  position: absolute !important;
  margin-top: 2em !important;

  width: 100% !important;
  font-size: 1.2em !important;
  z-index: 15 !important;
  margin-bottom: 0em !important;
  text-align: center !important;
}
#links li {
  width: 100% !important;
}

#links li button {
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0) !important;
  font-size: 1.5rem !important;
  text-decoration: none !important;
  color: white !important;
  text-align: center !important;
  display: block !important;
  padding: 0.45em 0.8em !important;
  height: 4em !important;
  cursor: pointer !important;
  border: none !important;
  visibility: hidden !important;
}
#links button:hover {
  /* background-color: rgba(218, 160, 61, .8);
   background-color: rgba(97, 98, 71, .8);*/
  background-color: rgba(0, 0, 0, 0.8) !important;
}

ul {
  margin-right: 0.2em !important;
  margin-left: 0em !important;
  padding: 0em !important;
}

.optionalSearch {
  display: flex !important;
  flex-direction: row !important;
}
.searchDiv {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.cancelButton {
  width: 2em !important;
  margin-top: -1.9em !important;
  margin-left: -8.3em !important;
  position: fixed !important;
  visibility: hidden !important;
  z-index: 20 !important;
}

.hamImg {
  width: 3em !important;
  height: 2em !important;
  position: fixed !important;
  margin-left: 0em !important;
  margin-top: -18.2em !important;
  visibility: hidden !important;
}

.header {
  background-color: #f2aa4c !important;
  width: 100% !important;
  height: 4.5em !important;
  display: flex !important;
  flex-direction: row !important;
  position: fixed !important;
  margin-top: -37.5em !important;
  text-align: center !important;
  justify-content: center !important;
}
.header h2 {
  margin-top: 1em !important;
}

.header p {
  margin-top: 2em !important;
}

h3 {
  margin-top: 5em !important;
  font-size: 100em !important;
}

.adminread {
  margin-top: -1em !important;
  position: relative !important;
}

.displayDiv {
  margin-top: 2em !important;
  border-style: groove !important;
  width: 40% !important;
  border-radius: 0.5em !important;
  margin: 0 auto !important;
  text-align: left !important;
  padding-left: 1em !important;
}

.adminreadDiv {
  margin-top: -15em !important;
  position: relative !important;
  box-sizing: border-box !important;
  height: 20vh !important;
}

.adminreadlabel {
  margin-top: 1.5em !important;
}

.readBtn {
  width: 10em !important;
  height: 2em !important;
  background-color: #f2aa4c !important;
  font-weight: bold !important;
}

.readBtn:hover {
  cursor: pointer !important;
  background-color: #80593c73 !important;
}

@media only screen and (max-width: 1150px) {
  .vid-controller {
    margin-top: -4em !important;
  }

  .displayDiv {
    font-size: 0.9rem !important;
    margin-top: 2em !important;
    border-style: groove !important;
    width: 45% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 950px) {
  #links li button {
    width: 10em !important;
    font-size: 1.5rem !important;
  }
  #sidebar {
    width: 15em !important;
  }
  #sidebar:hover {
    width: 15em !important;
    cursor: pointer !important;
  }
  #links li button {
    visibility: visible !important;
  }
  .hamImg {
    visibility: visible !important;
  }
  .cancelButton {
    margin-top: 0em !important;
    width: 1.6em !important;
    margin-left: -7.48em !important;
    position: fixed !important;
    visibility: visible !important;
    z-index: 20 !important;
  }

  .displayDiv {
    font-size: 0.9rem !important;
    margin-top: 2em !important;
    border-style: groove !important;
    width: 55% !important;
    margin: 0 auto !important;
  }
  #arrow {
    visibility: hidden !important;
  }
}

@media only screen and (max-width: 768px) {
  .input-vid-search {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    text-align: center !important;
    margin-top: -12em !important;
    width: 100% !important;
  }

  .spacingMiddleSearch {
    margin-left: 2em !important;
  }

  .spacingEndSearch {
    margin-left: -1.5em !important;
  }

  .vid-container {
    width: 60% !important;
    height: 1em !important;
    margin-top: 2em !important;
  }

  .hamImg {
    width: 3em !important;
    height: 2em !important;
    position: fixed !important;
    margin-left: 0em !important;
    margin-top: -17.5em !important;
    visibility: visible !important;
  }

  .cancelButton {
    margin-top: -15.7em !important;
    width: 1.6em !important;
    margin-left: 0em !important;
    visibility: visible !important;
    z-index: 20 !important;
  }

  #sidebar {
    width: 15em !important;
  }
  #sidebar:hover {
    width: 15em !important;
    cursor: pointer !important;
  }
  #links li button {
    visibility: visible !important;
  }

  .displayDiv {
    font-size: 0.9rem !important;
    margin-top: 2em !important;
    border-style: groove !important;
    width: 70% !important;
    margin: 0 auto !important;
  }
}

@media only screen and (max-width: 600px) {
  .vid-container {
    width: 70% !important;
    height: 4em !important;
    margin-top: -2em !important;
  }
  .hamImg {
    width: 3em !important;
    height: 2em !important;
    position: fixed !important;
    margin-left: 0em !important;
    margin-top: -18.2em !important;
    visibility: visible !important;
  }

  .vid-controller {
    margin-top: 0em !important;
  }

  .displayDiv {
    margin-top: 2em !important;
    border-style: groove !important;
    width: 70% !important;
    margin: 0 auto !important;
    font-size: 0.7rem !important;
  }

  #sidebar {
    width: 12em !important;
    visibility: hidden !important;
  }
  #sidebar:hover {
    width: 12em !important;
    cursor: pointer !important;
  }

  #links li button {
    visibility: visible !important;
  }
  #links li button {
    width: 9.25em !important;
    font-size: 1.3rem !important;
  }
  .cancelButton {
    margin-top: 0em !important;
    width: 1.6em !important;
    margin-left: -6em;
    position: fixed !important;
    z-index: 20 !important;
    visibility: hidden !important;
  }
}
