.admin-container {
  text-align: center;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.vid-btn {
  width: 10%;
  height: 2em;
  text-align: center;
  justify-content: center;
  margin-top: 1.3em;
}

.vid-con {
  align-items: center;
  align-self: center;
  margin-left: 25em;
}

.input-vid-search {
  display: flex;
  flex-direction: row;
  margin-left: 25em;
}

.input-vid-search label {
  margin-top: 1.5em;
}

.input-vid-search label button {
  margin-top: 1.2em;
}

.select {
  width: 15em;
  margin-left: 1em;
  margin-top: 0.8em;
}
