.admin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
  position: relative;
  background-color: white;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  margin: -0.5em -1em -1em 0em;
  padding: 0;
}

.admin-container div video {
  text-align: center;
}

.vid-btn {
  width: 10%;
  height: 2em;
  text-align: center;
  justify-content: center;
  margin-top: 1.3em;
}

.vid-container {
  width: 48%;
  height: 10vh;
  margin: 0 auto;
}

.innerVid video {
  width: 10%;
}

.input-vid-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin-top: -20em;
  margin-bottom: 2em;
  padding: 0, 2em, 0em, 2em;
}

@media only screen and (max-width: 1150px) {
  .vid-controller {
    margin-top: -4em;
  }
}

@media only screen and (max-width: 768px) {
  .input-vid-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: -18em;
    width: 100%;
  }

  .spacingMiddleSearch {
    margin-left: 2em;
  }

  .spacingEndSearch {
    margin-left: -1.5em;
  }

  #ssidebar:hover {
    width: 15em;
    cursor: pointer;
  }

  .vid-container {
    width: 60%;
  }

  .hamImg {
    width: 3em;
    height: 2em;
    position: fixed;
    margin-left: 0em;
    margin-top: -18.2em;
    visibility: visible;
  }
}

@media only screen and (max-width: 600px) {
  .vid-container {
    width: 70%;
    height: 7vh;
    margin-top: -1em;
  }
  .hamImg {
    width: 3em;
    height: 2em;
    position: fixed;
    margin-left: 0em;
    margin-top: -18.2em;
    visibility: visible;
  }

  .vid-controller {
    margin-top: -5em;
  }
}

.input-vid-search label {
  margin-top: 1.5em;
}

.input-vid-search label button {
  margin-top: 1.2em;
}

.select {
  width: 15em;
  margin-left: 1em;
  margin-top: 0.8em;
}
#sidebar {
  /*background-color: rgba(97, 98, 71, .8);*/
  background-color: rgba(0, 0, 0, 0.9);
  width: 20em;
  height: 100vh;
  z-index: 2;
  position: fixed;
  margin-bottom: 0em;
  box-sizing: border-box;
  margin-left: 0em;
  transition: width 1s;
  visibility: hidden;
}

#ssidebar:hover {
  width: 15em;
  cursor: pointer;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2;
}

#sidebar:hover #overlay {
  width: 31em;
  cursor: pointer;
}

#links {
  margin-left: 0em;
  position: absolute;
  margin-top: 2em;

  width: 16.65em;
  font-size: 1.2em;
  z-index: 15;
  margin-bottom: 0em;
  text-align: center;
}
#links li {
  width: 100%;
}

#links li button {
  width: 13.34em;
  background-color: rgba(0, 0, 0, 0);
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  text-align: center;
  display: block;
  padding: 0.45em 0.8em;
  height: 4em;
  cursor: pointer;
  border: none;
}
#links button:hover {
  /* background-color: rgba(218, 160, 61, .8);
   background-color: rgba(97, 98, 71, .8);*/
  background-color: rgba(0, 0, 0, 0.8);
}

ul {
  margin-right: 0.2em;
  margin-left: 0em;
  padding: 0em;
}

.optionalSearch {
  display: flex;
  flex-direction: row;
}
.searchDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cancelButton {
  width: 2em;
  margin-top: -3em;
  margin-left: 5em;
  position: fixed;
  visibility: hidden;
}

.hamImg {
  width: 3em;
  height: 2em;
  position: fixed;
  margin-left: 0em;
  margin-top: -18.2em;
}

.header {
  background-color: #f2aa4c;
  width: 100%;
  height: 3em;
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: -37.5em;
  text-align: center;
  justify-content: center;
}
.header h2 {
  margin-top: 1em;
}

.header p {
  margin-top: 2em;
}

h3 {
  margin-top: 5em;
  font-size: 100em;
}

.adminread {
  margin-top: -25em;
}
