body{
     background-color: #cce9f6;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -200px;
    z-index: -1;
}

h1 {
    font-size: 60px;
    font-family: "Arial";
    font-weight: bold;
}
