body {
  width: 100%;
  overflow-x: hidden;
}
.topnav {
  width: 85.3em;
  background-color: #333;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 19px;
  float: left;
  display: block;
}

.topnav a:hover {
  background-color: #555;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 6px;
    text-decoration: none;
    font-size: 17px;
    float: left;
    display: block;
  }
}

@media screen and (max-width: 637px) {
  .topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 10px 2.5px;
    text-decoration: none;
    font-size: 15px;
    float: left;
    display: block;
  }

  .topnav {
    width: 40em;
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
}
