.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-group .list-group-item {
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  background-color: rgb(126, 141, 141, 0.5);
}

.list-group .list-group-item .btn {
  width: 11em;
}

.userwelcome {
  background-color: rgb(126, 141, 141, 0.5);
  padding: 0.5em;
  margin-top: 1em;
  box-shadow: 10px 5px 5px black;
  text-align: center;
  font-style: italic;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(80, 80, 58);
}
