.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.register-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25%;
  width: 23%;
}

.btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input {
  display: flex;
  align-items: center;
  justify-content: center;
}
