.video-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.video-list {
  list-style-type: none;
  align-items: left;
}

.list {
  background-color: rgb(43, 42, 42);
  padding: 0.5em 0.2em;
  padding-right: 4em;
  margin-left: 1rem;
  height: "2em";
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  /* border-radius: 0.2em; */
  width: 26em;
}

.vid-list-item {
  display: flex;
  flex-direction: row;
}

.video-list li a {
  text-decoration: none;
}
.video-list li a:hover {
  text-decoration: none;
  list-style-type: none;
  background-color: rgb(80, 21, 21);
}

.list:hover {
  background-color: rgb(110, 99, 99);
}

.listOuterDiv {
  display: flex;
  border-radius: 0.2em;
}

.listButton {
  /* border-radius: 0em 0.3em 0.3em 0em; */
  float: right;
  background-color: rgb(255, 255, 255);
  color: rgb(214, 64, 64);
}

.listButton:hover {
  background-color: red;
  color: wheat;
}
.newDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-item-align: auto;
}

.vidDiv {
  width: 50%;
  justify-items: center;
  position: fixed;
  margin-top: 10em;
  margin-left: 37em;
  background-color: black;
}

.tv {
  background-image: url("../images/tv.png");
  width: 100%;
  justify-items: center;
  position: fixed;
  margin-top: 10em;
  margin-left: 37em;
  height: 22.5em;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 1150px) {
  .vidDiv {
    width: 50%;
    justify-items: center;
    position: fixed;
    margin-top: 14em;
    margin-left: 37em;
    background-color: black;
  }
}
