.landing-header {
  display: flex;
  height: 100px;
  background-color: var(--clr-dark-blue);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 4px 10px black;
}

.logo-div {
  margin-left: 1rem;
}

.landing-header a {
  text-decoration: none;
  color: var(--clr-light);
  font-size: var(--fs-h3);
}

.landing-links {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.landing-links li {
  list-style: none;
  margin: 0 2rem;
}

.landing-links li a {
  text-decoration: none;
  color: var(--clr-light);
}

.nav {
  align-items: center;
}

.landing-page {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(29, 15, 3, 0.5)),
    url(../images/pug-detection.png);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

/* .landing-page::after {
  background-image: url(../images/pug-detection.png);
  z-index: 3;
} */

.landing-main {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0rem 2rem;
}

.main-text {
  color: var(--clr-light);
}

.main-text h1 {
  font-size: 96px;
  font-weight: var(--fw-bold);
  color: var(--clr-light);
}

.main-text h2 {
  font-size: 64px;
  color: var(--clr-light-gray);
  text-shadow: 1px 1px black;
}

.main-text h3 {
  margin-top: 2rem;
  font-size: 48px;
}

.landing-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 150px;
  background-color: var(--clr-dark-blue);
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px -4px 10px black;
}

.plugs {
  display: flex;
  width: auto;
}

.plugs a {
  margin: 0 2rem;
  cursor: pointer;
}

.action-buttons {
  display: flex;
  margin-right: 5rem;
  /* flex-shrink: 1; */
}

.action-button {
  display: flex;
  text-decoration: none !important;
  color: var(--clr-light);
  /* padding: 1.5rem 3rem; */
  margin: 0 1rem;
  width: 200px;
  height: 75px;
  min-width: none;
  background-color: rgba(68, 205, 3, 0.1);
  border: 5px solid var(--clr-light-green);
  border-radius: 5px;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  transition: var(--transition);
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

.action-button:hover {
  text-decoration: none;
  background-color: rgba(68, 205, 3, 0.15);
  color: var(--clr-light-green);
}
